@import '@fontsource/metropolis';
@import '@fontsource/metropolis/300';
@import '@fontsource/metropolis/500';
@import '@fontsource/metropolis/600';
@import '@fontsource/metropolis/700';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-hover {
		@apply hover:bg-gradient-to-r hover:from-[rgba(0,0,0,0.2)] hover:to-[rgba(0,0,0,0.2)];
	}

	.btn-outline-hover {
		@apply hover:bg-gradient-to-r hover:from-[rgba(255,255,255,0.2)] hover:to-[rgba(255,255,255,0.2)];
	}

	.btn-active {
		@apply active:bg-gradient-to-r active:from-[rgba(255,255,255,0.2)] active:to-[rgba(255,255,255,0.2)];
	}

	.btn-outline-active {
		@apply active:bg-gradient-to-r active:from-[rgba(255,255,255,0.2)] active:to-[rgba(255,255,255,0.2)];
	}

	.default-transition {
		@apply transition-all duration-300 ease-in-out;
	}
}

:root {
	--bg-color: #191414;
	--sidebar-color: #000;
	--header-color: #000;
	--text-color: #fff;
	--accent-color: #1db954;
	--menu-background-color: #2e2e2e;
	--light-gray: #a7a7a7;
	--medium-gray: #2e2e2e;
	--dark-gray: #181818;
	--menu-text-color: #fff;
	--border: rgba(255, 255, 255, 0.15);
	--sidebar-width: 250px;
	--header-height: 64px;
	--error: #c24141;
	--warning: #e7a917;
}

body {
	font-family: 'Metropolis', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

::selection {
	background-color: var(--accent-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.188rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--accent-color);
}

select:focus-visible,
input:focus-visible,
button:focus-visible,
a:focus-visible {
	outline: 2px solid var(--accent-color);
	outline-offset: 2px;
}

.gradient-bg {
	background-image: linear-gradient(230deg, var(--sidebar-color), var(--bg-color));
}

.visually-hidden,
.skip-link:not(:focus) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.skip-link:focus {
	position: absolute;
	z-index: 200;
	background-color: var(--accent-color);
	color: #fff;
	padding: 10px;
	top: 10px;
	left: 10px;
	outline: 2px solid;
	font-weight: 500;

	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	white-space: normal;
	clip: auto;
	clip-path: none;
}

.tippy-box[data-theme~='menu'] {
	background-color: var(--menu-background-color);
	color: var(--menu-text-color);
	border-radius: 3px;
	box-shadow: 0 13px 20px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme~='menu'] .tippy-content {
	padding: 0px;
	width: 200px;
	max-width: 100%;
}

.tippy-box[data-theme~='menu'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--menu-background-color);
}

#nprogress .bar {
	background-color: var(--accent-color) !important;
}
