@import '@fontsource/metropolis';
@import '@fontsource/metropolis/300';
@import '@fontsource/metropolis/500';
@import '@fontsource/metropolis/600';
@import '@fontsource/metropolis/700';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-hover {
		@apply hover:bg-gradient-to-r hover:from-[rgba(0,0,0,0.2)] hover:to-[rgba(0,0,0,0.2)];
	}

	.btn-outline-hover {
		@apply hover:bg-gradient-to-r hover:from-[rgba(255,255,255,0.2)] hover:to-[rgba(255,255,255,0.2)];
	}

	.btn-active {
		@apply active:bg-gradient-to-r active:from-[rgba(255,255,255,0.2)] active:to-[rgba(255,255,255,0.2)];
	}

	.btn-outline-active {
		@apply active:bg-gradient-to-r active:from-[rgba(255,255,255,0.2)] active:to-[rgba(255,255,255,0.2)];
	}

	.default-transition {
		@apply transition-all duration-300 ease-in-out;
	}
}

:root {
	--bg-color: #191414;
	--sidebar-color: #000;
	--header-color: #000;
	--text-color: #fff;
	--accent-color: #1db954;
	--menu-background-color: #2e2e2e;
	--light-gray: #a7a7a7;
	--medium-gray: #2e2e2e;
	--dark-gray: #181818;
	--menu-text-color: #fff;
	--border: rgba(255, 255, 255, 0.15);
	--sidebar-width: 250px;
	--header-height: 64px;
	--error: #c24141;
	--warning: #e7a917;
}

body {
	font-family: 'Metropolis', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

::selection {
	background-color: var(--accent-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.188rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--accent-color);
}

select:focus-visible,
input:focus-visible,
button:focus-visible,
a:focus-visible {
	outline: 2px solid var(--accent-color);
	outline-offset: 2px;
}
